<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>MadLips</title>
  </head>
  <body>
    <div class="container">
      <h1>Mad Lips</h1>
      <p>There once was a @Model.GetNoun1() who lived in a @Model.GetNoun2(). The @Model.GetNoun1() was @Model.GetAdjective1() so they started @Model.GetVerb1(). One day, they @Model.GetVerb2() to the @Model.GetNoun3() to @Model.GetVerb3() and was so very @Model.GetAdjective2(). The moral of the story is to @Model.GetVerb4() every @Model.GetNoun4(). The end.
      </p>
    </div>
  </body>
</html>
